<h2>Recent Searches</h2>
<table>
  <thead>
    <tr>
      <th>Search</th>
      <th>Total</th>
      <th>Last Searched</th>
    </tr>
  </thead>
  <tbody>
  <% recent_searches.each do |search_term| %>
    <tr>
      <td><%= link_to search_term.term, search_path(q: search_term.term) %></td>
      <td><%= search_term.count %></td>
      <td><%= time_ago_in_words(search_term.updated_at) %> ago</td>
    </tr>
  <% end %>
  </tbody>
</table>